* {
  font-family: 'Roboto', sans-serif;
}

/* background-video setup*/
#background-video {
  object-fit: cover;
  height: 100%;
  width: 100%;
  float: left;
  top: 0;
  padding: none;
  position: fixed;
}


.app-bar-home {
  background: transparent!important;
  box-shadow: none!important;
}

.app-bar-menu {
  color: #fff!important;
}

.mainpage-landing {
  color: #fff!important;
  z-index: 10;
  position: absolute;
  top: 38%;
}

.mainpage-landing h3 {
  font-size: 1.5em;
  font-weight: 400;
  margin-bottom: 1.2em;
}

.mainpage-landing p {
  font-weight: 400;
  border-bottom: 1px dotted #fff;
}


.mainpage-landing-enter-btn {
  font-size: 1.2em;
  font-weight: 400;
  border: 1px dotted #fff;
  border-radius: 3px;
  padding: 6px;

}

.row {
  padding: 16px;
}

.social-media > a {
  margin-right: 1em;
  font-size: 1.5em;
}

/*
.product-detail-images, .product-detail-info {
  padding: 2%;
}*/

.product-detail-description {
  max-height: 120px!important;
  overflow: auto;
}

.product-detail-mainImage > img {
  padding: 0!important;
  margin-bottom: 1%;
}

.product-detail-thumbs > img {
  padding: 0!important;
  height: 100px;
}



.product-detail-price {
  position: relative!important;
}

span.letter {
  color: #fff
}
