* {
  font-family: 'Roboto', sans-serif;
}

/* background-video setup*/
#background-video {
  object-fit: cover!important;
  height: 100%;
  width: 100%;
  float: left;
  top: 0;
  padding: none;
  position: fixed;
}
